.grid-menu-item {
    box-sizing: content-box;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-menu-item a {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-decoration: none;
    color: black;
}

.grid-menu-item:hover {
    background: #e9ecff;
}

.grid-menu-item img {
    width: 48px;
    height: 48px;
}

.grid-menu-item span {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}
