@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

body {
    background: #FFFFFF;
    font-family: 'Cantarell', sans-serif;
}

.flex-horizontal {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.top-menu {
    display: flex;
    justify-items: flex-end;
    justify-content: right;
    padding-right: 1%;
    padding-top: 0.5%;
}

.btn {
    font-size: 100%;
    padding: 0.5% 1.3%;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    background: #1a73e8;
    color: #FFFFFF;
}

svg {
    width: 20px;
    color: #5f6368;
    opacity: 1;
    padding: 0.5%;
}

.link-primary {
  font-size: 85%;
  color: black;
  display: inline;
  margin: 0.5%;
  text-decoration: none;  
}

.link-primary:hover {
    text-decoration: underline;
}

.image-container {
  display: flex;
  width: 100%;
  margin-top: 1%;
  justify-items: center;
}

.image-wrapper {
  margin-left: 42.5%;
  margin-right: 42.5%;
  padding-top: 20vh;
}

.image-container img {
  width: fit-content;
}