@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

body {
    background: #FFFFFF;
    font-family: arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flex-horizontal {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.top-menu {
    display: flex;
    justify-items: flex-end;
    justify-content: right;
    padding-right: 1%;
    padding-top: 0.5%;
}

.btn {
    font-size: 100%;
    padding: 0.5% 1.3%;
    border: none;
    border-radius: 5px;
}

.btn {
  cursor: pointer;
}

.btn-primary {
    background: #1a73e8;
    color: #FFFFFF;
}

.btn-secondary {
  background: #f8f9fa;
}

.btn-secondary:hover {
  box-shadow: 0px 0px 3px #858585;
}

.btn-small {
  font-size: 92%;
  padding: 2% 3%;
  margin: 1%;
}

svg {
    width: 100%;
    color: #5f6368;
    opacity: 1;
}

.link-primary {
  font-size: 85%;
  color: black;
  display: inline;
  margin: 0.5%;
}

.image-container {
  display: flex;
  width: 100%;
  margin-top: 1%;
  justify-items: center;
}

.image-wrapper {
  margin-left: 42.5%;
  margin-right: 42.5%;
  padding-top: 20vh;
  padding-bottom: 1%;
}

.image-container img {
  width: fit-content;
}

.svg-icon-wrapper {
  display: inline-block;
  width: 1.3%;
  margin: 0% 0.5%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.search-box-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  margin: 0% 34%;
}

.search-form {
  margin: 0;
  padding: 0;
  width: 100%;
}

.submit-button-form {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 5%;
}

.language-div {
  font-size: 85%;
  text-align: center;
  margin-top: 3%;
}