@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

body {
    background: #FFFFFF;
    margin: 0;
    font-family: 'Cantarell', sans-serif;
}

.flex-horizontal {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.top-menu {
    display: flex;
    justify-items: flex-end;
    justify-content: right;
    padding-right: 1%;
    padding-top: 0.5%;
}

.btn {
    font-size: 105%;
    padding: 0.5% 1.3%;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    background: #1a73e8;
    color: #FFFFFF;
}

svg {
    width: 1%;
    color: #5f6368;
    opacity: 1;
    padding: 0.5%;
}

.link-primary {
  color: black;
  padding-right: 1%;
  padding-top: 0.5%;
  text-decoration: none;  
}

.link-primary:hover {
    text-decoration: underline;
}