@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --background: #f3f7f7;
    --text-color: black;
    --font-size: 1vw;
    --focus-color: #738f93;
    --error-color: #cd3635;
    --icon-size: 1.5vw;
}

.icon-input {
    background-color: var(--background);
    margin-bottom: 3%;
    padding-left: 2%;
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset 0 1px 4px rgb(0 0 0 / 10%);
}

.icon-input-clicked {
    border-bottom: 0.15vw solid var(--focus-color);
}

.icon-input-errored {
    border-bottom: 0.15vw solid var(--error-color);
}

.icon-input input {
    background-color: var(--background);
    border: 0;
    border-radius: 0;
    color: var(--text-color);
    font-size: var(--font-size);
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    width: 86%;
    height: 60%;
}

.icon-input input:focus {
    outline: none;
    border: none;
}

.icon-input img {
    max-width: var(--icon-size);
    float: left;
    padding-right: 0.4vw;
}

.icon-input::placeholder {
    color: var(--focus-color);
}