.menu-icon-wrapper {
    padding: 5px;
    position: static;
}

.menu-icon-wrapper:hover {
    border-radius: 50%;
    background: #ebebec;
}

.menu-container {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    width: 17vw;
    height: 30vh;
    overflow-y: scroll;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
                0px 2px 6px 2px rgb(60 64 67 / 15%);
    position: absolute;
    top: 3.5em;
    right: 1em;
    display: grid;
    padding: 0.5em 0.5em 0.5em;
    grid-template-columns: repeat(3, 1fr);
}

.horizontal-line {
    border-bottom: solid 1px rgba(0,0,0,0.2);
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 10px 3px;
}