@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.auth-container {
}

.auth-content-wrap {
    width: 25%;
    height: 100%;
    margin: auto;
}

.logo-wraper {
    margin-top: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.auth-headline {
    font-family: "Open Sans", sans-serif;
}

.auth-headline h2 {
    color: #39424e;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.4;
    display: flex;
    justify-content: center;
}

.auth-headline p {
    justify-content: center;
    display: flex;
}