.search-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #dfe1e5;
    border-radius: 200px;
}

.search-box-expanded {
    box-shadow: 1px 1px 10px #e4e4e4;
    border-radius: 20px;
}


.search-box:hover {
    box-shadow: 1px 1px 10px #e4e4e4;
}

.search-box input {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: none;
}

.search-box input:focus {
    outline: none;
    border: none;
}

.search-box-icon {
    width: 5%;
    margin: 2%;
}

.search-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.search-history-container {
    margin: 0;
    padding: 0;
    padding-bottom: 3%;
}