.search-option {
    list-style-type: none;
}

.search-option img {
    width: 20px;
    margin: 3px 10px;
}

.search-option-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    padding: 0.5% 0;
}

.search-option-container:hover {
    background: #eeeeee;
}

.search-option a {
    text-decoration: none;
}

.search-option a:hover {
    text-decoration: none;
}